body {
  margin: 0px;
  padding: 20px;
  border: none;
  outline: none;
  text-decoration: none !important;
}

p {
  margin: 0px;
  padding: 0px;
}

.hide {
  display: none;
}

input {
  margin-bottom: 10px;
}

#error {
  margin-top: 20px;
  color: red;
}
